# Git
.git/**
.gitignore
.gitattributes

# Dependencies
**/node_modules/**
**/target/**
vendor

# Build outputs
dist/**
build/**
*.log

# Environment files (keep examples)
.env
.env.local
.env.*.local
!**/.env.example
!**/.env.*.example

# IDE
.idea/**
.vscode/**
**/*.swp
**/*.swo
**/*.iml

# Docker
docker-compose.override.yml

# Misc
README.md
*.md
docs
**/*.log
